.btn-registration{
    padding: 0.8125rem 2rem; 
}
.form-control:focus{
    border-color: transparent;
    box-shadow: none;
}

.btn-registration-mobile{
    height: 2.875rem;
    width: 11.1875rem;
    font-size: $f17;
    font-family: $MonkeyBold;
    background-color: $red;
    color: $white;
} 