@mixin padding-style($number) {
  padding-top: $number;
  padding-bottom: $number;
}

@mixin font-style($number) {
  font-size: $number;
}

html {
  @include font-style(16px);
}

@media (max-width: 1140px) {
  html {
    @include font-style(14px);
  }
}
@media (max-width: 440px) {
  html {
    @include font-style(12px);
  }
}
// @media (max-width: 991px) {
//   html {
//     @include font-style(12px);
//   }
// }
// @media (max-width: 767px) {
//   html {
//     @include font-style(10px);
//   }
// }
// @media (max-width: 575px) {
//   html {
//     @include font-style(8px);
//   }
// }

body {
  height: 100%;
  width: 100%;
  color: $gray;
  font-family: "Monkey-medium";
  line-height: 1.2;
  background-color: $white;
  padding-right: 0 !important ;
  font-size: 1rem;
}

.parents-share,.monkey-result,.typical-students {
  padding-top: 2.3125rem;
}
.parents-share{
  padding-bottom: 2.3125rem;
}
@media(max-width(1199px)){
  
}