.monkey-banner {
  background-image: url("../images/banner/banner_home.svg");
  height: 40.3125rem;
  padding-top: 4.75rem;
  .container-fluid,
  .row {
    height: 100%;
  }
  .banner-video,
  .banner-content {
    width: 100%;
    height: 23.8125rem;
    border-radius: 0.625rem;
  }
  .banner-video {
    background-image: url("../images/banner/img-banner.jpg");
    height: 23.8125rem;
    width: 100%;
    position: relative;
    .icon-play {
      width: 4.875rem;
      height: 4.875rem;
    }
  }
}
@media (max-width: 1024px) {
  .monkey-banner {
    background-image: none;
    background-color: $red;
    height: auto;
    padding-bottom: 4.1875rem;
    .container-fluid,
    .row {
      height: auto;
    }
    .banner-mobile-wrapper{
      .title{
        margin-top:-4.375rem;
      }
      .banner-mobile {
        width: 100%;
        height: 20.5625rem;
      }
  
    }
  }
}
