.registration-wrapper{
    border-radius: 0.625rem;
    .media{
        .media-title{
            width: 25%;
        }
    }
}
.form-registration{
    .form-registration-body{
        border-radius: 0.875rem;
        overflow: hidden;
        .form-control{
            border-radius: 0;
            border-left: none;
            padding-left: 0;
            padding-top: 0.875rem;
            padding-bottom: 0.875rem;
        }
    }
    .input-group-text{
        img {
            height: 0.9375rem;
        }
        .icon-email{
            height:0.6625rem;
        }
    }
}