.monkey-course {
  .title{
    padding-top: 3.3125rem;
    padding-bottom: 1.875rem;
  }
  .card {
    border-radius: 0.625rem;
    overflow: hidden;
    .card-img-top {
      height: 5.625rem;
      width: auto;
      margin: auto;
    }
    .card-body {
      min-height: 7.5rem;
    }
  }
}

.course-ware {
  background-image: url(../images/banner/bg-course.svg);
  .card {
    margin-top: 2.5rem;
  }
  .card-img-top {
    height: 8.8125rem;
    width: auto;
  }
}

.icon-monkey-course {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 991px) {
  .course-ware{
    &.monkey-bg-light-gray {
      background-color: $white;
    }
  }
  .monkey-course {
    &.monkey-bg-light-gray {
      background-color: $white;
    }
    .card-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin-top: 1.5rem;
      border-bottom: 1px solid #e6e7e8;
      .card {
        border-radius: 1.625rem;
        &.monkey-bg-green {
          box-shadow: 0 5px #39b54a;
          border-color: #39b54a;
        }
        &.monkey-bg-blue {
          box-shadow: 0 5px #009cd9;
          border-color: #009cd9;
        }
        &.monkey-bg-sunshine {
          box-shadow: 0 5px #f47b20;
          border-color: #f47b20;
        }
        &.monkey-bg-violet {
          box-shadow: 0 5px #5e2a7b;
          border-color: #5e2a7b;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .monkey-course {
    .card-wrapper {
      &.v-monkey {
        border-bottom-color: $transparent;
      }
    }
  }
}
