.monkey-prize-item {
    .card-image {
      height: 9.5625rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $light-yellow;
      border-radius: 0.625rem;
      img{
        width: 14.635rem;
        height: 5.25rem;
      }
    }
  }