.talk-about-monkey-card {
  border-radius: 0.875rem;
  overflow: hidden;
  border: 1px solid #bcbec0;
  .card-image {
    cursor: pointer;
    overflow: hidden;
    img {
      border-radius: 0;
    }
  }
  .talk-about-monkey-card-title {
    margin-bottom: 1.875rem;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
  .talk-about-monkey-card-body {
    padding: 1.25rem;
  }
  .talk-about-monkey-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-img-top {
      height: 2rem;
      width: auto;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

.talk-about-monkey-card-mobile {
  border-radius: 0.625rem;
  height: 4.6875rem;
  box-shadow: 0 5px #e6e7e8;
  border-color: #e6e7e8;
}
@media (max-width: 1024px) {
  .talk-about-monkey {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #d1d3d4;
    border-radius: 1.25rem;
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
    img{
      height:2.4375rem;
    }
  }
}
